@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loadingPulse {
  50% {
    opacity: 0.5;
  }
}

.isLoading {
  animation: loadingPulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  opacity: 0.8;
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:focus {
  outline:none !important;
}
:focus {
  outline:none !important;
}
